.savedMovies {
  width: 98vw;
  box-sizing: border-box;
  padding: 0 70px;
  background-color: #FAFAFA;
}

@media screen and (max-width: 868px) {
  .savedMovies {
  padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .savedMovies {
    padding: 0 14px;
    }  
}